<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
    <link href="/stylesheets/tailwind-output.css" rel="stylesheet" />
  </head>
  <body class="h-full w-full bg-zinc-900 text-white p-5">
    <div class="p-5">
      <div class="navabr mb-2 flex justify-between gap-5">
        <div class="flex flex-row gap-1">
          <span
            ><img class="h-8" src="/images/thought-bubble.png" alt="" srcset=""
          /></span>
          <p>thought's</p>
        </div>
        <div>
          <div id="pages">
            <a
              id="profile"
              class="px-3 py-2 rounded-md text-sm mb-5 inline-block"
              href="/profile"
              >Profile</a
            >
            <a
              id="feed"
              class="px-3 py-2 rounded-md text-sm mb-5 inline-block "
              href="/profile/feed"
              >Feed</a
            >
            <a
              id="settings"
              class="px-3 py-2 rounded-md text-sm mb-5 inline-block"
              href="/settings"
              >Settings</a
            >
            <a
              id=""
              class="bg-red-500 px-3 py-2 rounded-md text-sm mb-5 inline-block"
              href="/logout"
              >Logout</a
            >
          </div>
        </div>
      </div>
    </div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
