<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/stylesheets/tailwind-output.css" rel="stylesheet">

</head>
<body>
    <div class=" w-full h-screen bg-zinc-900 text-white p-10  ">
        <a href="/singup" class="rounded-md bg-blue-500 px-5 py-2">Sing up</a>
        <div class="head flex justify-center mb-4">
            <h1 class="text-3xl text-blue-500 ">Welcome to thought's</h1>
        </div>
        <div class="form p-10 w-full flex justify-center ">
            <form class="p-4 flex justify-center flex-col" action="/login" method="post">
                <input class="mb-4 outline-none block px-5 py-2 bg-zinc-500 rounded-md" type="text" name="username" placeholder="username">
                <input class="mb-4 outline-none block px-5 py-2 bg-zinc-500 rounded-md" type="password" name="password" placeholder="password">
                <input class=" mt-2 rounded-md bg-blue-500 px-5 py-2" type="submit" value="Log in">
            </form>
        </div>
    </div>
</body>
</html>\


